{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Fee Category{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <h1>Delete Fee Category</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>Are you sure you want to delete the fee category "{{ category.name }}"?</p>
                        <p>This action cannot be undone and will affect all associated fee structures.</p>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete Category
                            </button>
                            <a href="{% url 'myapp:fee_categories' %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 